.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-gray {
  background-color: #f0f0f0;
}

.bg-blue {
  background-color: #b3d9ff;
}

.bg-green {
  background-color: #ccffcc;
}

.bg-red {
  background-color: #ffcccc;
}

.bg-prussian-blue {
  background-color: #003049;
}

.bg-b5fccd {
  background-color: #b5fccd;
}

.bg-7AC6D2 {
  background-color: #7AC6D2;
}

.bg-3D90D7 {
  background-color: #3D90D7;
}

.bg-3674B5 {
  background-color: #3674B5;
}

.bg-3A59D1 {
  background-color: #3A59D1;
}
